---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";

import team2011 from "../assets/team-2011.jpg";
import team2015 from "../assets/team-2015.jpg";
import team2020 from "../assets/team-2020.jpg";
import team2024 from "../assets/team-2024.jpg";
import worlds2023 from "../assets/worlds-2023.jpeg";
import aboutUsFlavor from "../assets/about-us-flavor.jpeg";
import cad from "../assets/2025/cad-transparent.png";
import Frame from "../components/Frame.astro";
import Section from "../components/Section.astro";
import Column from "../components/Column.astro";
import openAlliance from "../assets/openalliance.svg";
import { BUILD_THREAD, PHOTO_ALBUM, GITHUB_ACCOUNT, CAD_MODEL } from "../links";
---

<Layout header="transparent">
    <Hero scrollHref="#belowHero" />
    <main>
        <Section layout="row" align="spaced" id="below-hero">
            <Column class="flexible">
                <h2>2024 Season Recap</h2>
                <p>
                    Get a sneak peak of what we do here at Generals Robotics,
                    Team 3636! Check out our other videos on the student-run <a
                    href="https://www.youtube.com/@FRCTeam3636">YouTube</a
                > account.
                </p>
            </Column>
            <div class="flexible">
                <Frame videoId="UEHhuMCoeP8" width={1920} height={892} autoplay={false} />
            </div>
        </Section>
        <Section theme="secondary" layout="row" align="spaced" id="about-us">
            <Image
                src={aboutUsFlavor}
                class="flavor-image"
                widths={[900, 1200, 1400, 1800, aboutUsFlavor.width]}
                alt="Napoleon, our robot from the 2022 robotics season, sitting still on a field along side teams' robots"
                sizes="30vw"
            />
            <Column>
                <h2>About Us</h2>
                <p>
                    Generals Robotics, assigned the team number of “3636,” was
                    founded in 2011 as a way to promote STEM at Grant High
                    School. Generals Robotics is based out of Grant High School,
                    but membership is open to any driven high school-aged
                    student who resides within the Portland metropolitan area,
                    who does not attend an educational institution already
                    affiliated with another FIRST Robotics Competition team.
                </p>
                <p>
                    All are welcome on Generals Robotics; experience in S.T.E.M.
                    is not a prerequisite for membership. During their time on
                    the team, Generals Robotics members acquire valuable life
                    skills and professional connections. Participation in FIRST
                    programs such as FRC opens a myriad of new pathways for
                    students, from securing internships and grants to building a
                    network of experienced mentors in the engineering industry.
                </p>
            </Column>
        </Section>
        <Section layout="row" align="spaced">
            <Column>
                <h2>Our work in 2025</h2>
                <div class="prose">
                    <p>
                        We're hard at work designing, building, and programming
                        our robot for the 2025 season! Here are some ways you
                        can follow along with our progress:
                    </p>

                    <ul>
                        <li>
                            We participate in the <strong>
                            <Icon symbol={openAlliance} />
                            Open Alliance</strong
                        >, maintaining a <a href={BUILD_THREAD}>
                            Build Thread</a
                        > where you can find our latest work.
                        </li>
                        <li>
                            Check our <a href={PHOTO_ALBUM}>Photo Album</a> to see
                            the pictures we've taken throughout the season.
                        </li>
                        <li>
                            Find our up-to-date robot code on our <a
                            href={GITHUB_ACCOUNT}>GitHub account</a
                        >.
                        </li>
                        <li>
                            Our <a href={CAD_MODEL}>Onshape CAD document</a> contains
                            a 3D model of our robot design this season.
                        </li>
                    </ul>
                </div>
            </Column>
            <Image
                src={cad}
                class="flavor-image transparent"
                alt="A 3D model of this year's robot design, featuring an elevator mechanism and funnel."
            />
        </Section>
        <Section>
            <h2>Over the Years</h2>
            <Column class="team-history-gallery">
                <figure>
                    <Image
                        src={team2011}
                        alt="The team members from 2011"
                        class="flavor-image"
                        sizes="30vw"
                    />
                    <figcaption>2011 — FRC Logomotion</figcaption>
                </figure>
                <figure>
                    <Image
                        src={team2015}
                        alt="The team members from 2015"
                        class="flavor-image"
                        sizes="30vw"
                    />
                    <figcaption>2015 Wilsonville Event</figcaption>
                </figure>
                <figure>
                    <Image
                        src={team2020}
                        alt="The team members from 2020"
                        class="flavor-image"
                        sizes="30vw"
                    />
                    <figcaption>2020 Clackamas Event</figcaption>
                </figure>
                <figure>
                    <Image
                        src={team2024}
                        alt="The team members from 2024"
                        class="flavor-image"
                        sizes="30vw"
                    />
                    <figcaption>2024 Oregon State Fairgrounds Event</figcaption>
                </figure>
            </Column>
            <Column>
                <h3>2023 World Championship Event</h3>
                <p>7th seed alliance captains in the Hopper division</p>
                <Image src={worlds2023} alt="" class="flavor-image" />
            </Column>
        </Section>
    </main>

    <style lang="scss">
        // Turns into a full row on mobile
        .flexible {
            // Grow/shrink to fill the space evenly
            flex: 1;
            // Take a whole row when in a vertical format (mobile)
            width: 100%;
        }

        main {
            margin-bottom: 3rem;
        }

        h1 {
            color: var(--col-white);
        }

        .flavor-image {
            width: 35vw;
            height: auto;

            @media (max-width: 768px) {
                width: 80vw;
            }
        }

        .team-history-gallery {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
        }
    </style>
</Layout>
