---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import Hero from "../components/Hero.astro";
import team2011 from "../assets/team-2011.jpg";
import team2015 from "../assets/team-2015.jpg";
import team2020 from "../assets/team-2020.jpg";
import team2024 from "../assets/team-2024.jpg";
import aboutUsFlavor from "../assets/about-us-flavor.jpeg";
import AutoplayVideo from "../components/AutoplayVideo.astro";
---

<Layout transparentHeader>
    <Hero />
    <div class="row" id="below-hero">
        <div class="flexible">
            <h2>2024 Season Recap</h2>
            <p>
                Get a sneak peak of what we do here at Generals Robotics, Team
                3636! Check out our other videos on the student-run <a
                    href="https://www.youtube.com/@FRCTeam3636">YouTube</a
                > account.
            </p>
        </div>
        <div class="flexible">
            <AutoplayVideo videoId="UEHhuMCoeP8" width={1920} height={892} />
        </div>
    </div>
    <div class="row secondary" id="about-us">
        <div>
            <Image
                src={aboutUsFlavor}
                class="about-us-img"
                widths={[900, 1200, 1400, 1800, aboutUsFlavor.width]}
                alt="Napoleon, our robot from the 2024 robotics season"
                sizes="30vw"
            />
        </div>
        <div class="about-us-text">
            <h2>About Us</h2>
            <p>
                Generals Robotics, assigned the team number of “3636,” was
                founded in 2011 as a way to promote STEM at Grant High School.
                Generals Robotics is based out of Grant High School, but
                membership is open to any driven high school-aged student who
                resides within the Portland metropolitan area, who does not
                attend an educational institution already affiliated with
                another FIRST Robotics Competition team.
            </p>
            <p>
                All are welcome on Generals Robotics; experience in S.T.E.M. is
                not a prerequisite for membership. During their time on the
                team, Generals Robotics members acquire valuable life skills and
                professional connections. Participation in FIRST programs such
                as FRC opens a myriad of new pathways for students, from
                securing internships and grants to building a network of
                experienced mentors in the engineering industry.
            </p>
        </div>
    </div>
    <div class="row always-vertical">
        <h2>Over the Years</h2>
        <div class="team-history-gallery">
            <figure>
                <Image
                    src={team2011}
                    alt="The team members from 2011"
                    class="team-img"
                    sizes="30vw"
                />
                <figcaption>2011 — FRC Logomotion</figcaption>
            </figure>
            <figure>
                <Image
                    src={team2015}
                    alt="The team members from 2015"
                    class="team-img"
                    sizes="30vw"
                />
                <figcaption>2015 Wilsonville Event</figcaption>
            </figure>
            <figure>
                <Image
                    src={team2020}
                    alt="The team members from 2020"
                    class="team-img"
                    sizes="30vw"
                />
                <figcaption>2020 Clackamas Event</figcaption>
            </figure>
            <figure>
                <Image
                    src={team2024}
                    alt="The team members from 2024"
                    class="team-img"
                    sizes="30vw"
                />
                <figcaption>2024 Oregon State Fairgrounds Event</figcaption>
            </figure>
        </div>
    </div>
</Layout>

<style lang="scss">
    .flexible {
        // Grow/shrink to fill the space evenly
        flex: 1;
        // Take a whole row when in a vertical format (mobile)
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem;
        gap: 2rem;
    }

    .row.secondary {
        background-color: var(--bg-secondary);
    }

    .row.always-vertical {
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        color: var(--col-white);
    }

    .row div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row p {
        max-width: 50ch;
    }

    .team-img,
    .about-us-img {
        width: 35vw;
        height: auto;
    }

    .row div.team-history-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    @media (max-width: 1000px) {
        .row {
            flex-direction: column;
        }

        .team-img,
        .about-us-img {
            width: 60vw;
        }
    }
</style>
