---
import LogoLink from "./LogoLink.astro";
import SocialLink from "./SocialLink.astro";

import { icon } from "@fortawesome/fontawesome-svg-core";
import {
    faInstagram,
    faTiktok,
    faYoutube,
    faGithub,
} from "@fortawesome/free-brands-svg-icons";
import { BUILD_THREAD, PHOTO_ALBUM, GITHUB_ACCOUNT, CAD_MODEL, CONTACT_US } from "../links";
---

<footer>
    <div class="organization-info">
        <LogoLink footer>Generals Robotics</LogoLink>
        <div class="social-links">
            <SocialLink
                icon={icon(faInstagram)}
                title="Follow us on Instagram!"
                href="https://www.instagram.com/frcteam3636"
            />
            <SocialLink
                icon={icon(faTiktok)}
                title="Follow us on TikTok!"
                href="https://www.tiktok.com/@frcteam3636"
            />
            <SocialLink
                icon={icon(faYoutube)}
                title="Watch us on YouTube!"
                href="https://www.youtube.com/@FRCTeam3636"
            />
            <SocialLink
                icon={icon(faGithub)}
                title="Our GitHub profile"
                href="https://github.com/FRC3636"
            />
        </div>
    </div>

    <div class="link-column">
        <h2>Resources</h2>
        <ul>
            <li>
                <a href="https://www.thebluealliance.com/team/3636">
                    The Blue Alliance profile
                </a>
            </li>
            <li>
                <a href="https://3636.live">Watch our matches live</a>
            </li>
            <li>
                <a href={CONTACT_US}>Contact Us</a>
            </li>
        </ul>
    </div>

    <div class="link-column">
        <h2>Our Work in 2025</h2>
        <ul>
            <li>
                <a href={BUILD_THREAD}> Build Thread </a>
            </li>
            <li>
                <a href={PHOTO_ALBUM}> Build Season Photos </a>
            </li>
            <li>
                <a href={GITHUB_ACCOUNT}>Robot Code</a>
            </li>
            <li>
                <a href={CAD_MODEL}> Onshape CAD Model </a>
            </li>
        </ul>
    </div>

    <style lang="scss">
        footer {
            display: flex;
            flex-wrap: wrap;
            padding: 2.5rem 0;
            gap: 2rem;
            justify-content: center;
            background-color: var(--bg-secondary);
            white-space-collapse: collapse;
            margin-top: auto;
        }

        .organization-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            // This is useful for mobile screens.
            text-align: center;
            // Put the organization's logo on its own line by default (mobile/vertical layout).
            width: 100%;
        }

        @media (min-width: 768px) {
            // On desktop, it looks bad to have the logo on its own line — so we put everything in one row instead.
            .organization-info {
                width: auto;
            }
        }

        .social-links {
            display: flex;
            gap: 0.75rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        .link-column {
            margin: 0.5rem 0.25rem 0 0.25rem;
        }

        .link-column h2 {
            color: light-dark(var(--accent), var(--col-white));
            font-weight: bold;
            font-size: 1rem;
            text-align: left;
            margin: 0;
        }

        .link-column ul {
            list-style-type: none;
            font-size: 0.8rem;
            padding: 0;
            margin: 0;
        }

        .link-column li {
            margin-top: 0.5rem;
        }

        .link-column a {
            text-decoration-thickness: 0.1em;
        }
    </style>
</footer>
